<!-- views/partials/footer.ejs -->
<footer>
  <p><%= __('footer.disclaimer') %></p>
  <p><%= __('footer.contact') %>: hello@voiceout.org</p>

  <div class="cookie-notice">
    <p><%= __('cookies.notice') %></p>
    <div>
      <button id="acceptCookies"><%= __('cookies.accept') %></button>
      <button id="rejectCookies"><%= __('cookies.reject') %></button>
      <button id="cookieSettings"><%= __('cookies.settings') %></button>
    </div>
  </div>

  <script src="/js/main.js"></script>
</footer>