<!-- views/partials/navigation.ejs -->
<div class="header-container">
  <div class="logo">
    <a href="/" class="site-title">
      <span class="zh-title">勇敢发声</span>
    </a>
  </div>
  <nav>
    <a href="/posts" class="<%= path === '/posts' ? 'active' : '' %>"><%= __('nav.allStories') %></a>
    <a href="/help-support" class="<%= path === '/help-support' ? 'active' : '' %>"><%= __('nav.helpSupport') %></a>
    <a href="/about" class="<%= path === '/about' ? 'active' : '' %>"><%= __('nav.about') %></a>
  </nav>
</div>