<!DOCTYPE html>
<html lang="<%= language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <%- include('partials/navigation', { currentPath: path }) %>

    <main>
        <h1><%= __('about.title') %></h1>
        <h2><%= __('about.subtitle') %></h2>

        <p><%= __('about.description') %></p>

        <h3><%= __('about.ourMotivation') %></h3>
        <p><%= __('about.motivation') %></p>

        <h3><%= __('about.hopeToAchieve') %></h3>
        <p><%= __('about.achieve') %></p>
        <ul>
            <li><%= __('about.achieve-1') %></li>
            <li><%= __('about.achieve-2') %></li>
            <li><%= __('about.achieve-3') %></li>
            <li><%= __('about.achieve-4') %></li>
            <li><%= __('about.achieve-5') %></li>
        </ul>

        <h3><%= __('about.whyMatters') %></h3>
        <p><%= __('about.matters') %></p>
        <ul>
            <li><%= __('about.matters-1') %></li>
            <li><%= __('about.matters-2') %></li>
            <li><%= __('about.matters-3') %></li>
            <li><%= __('about.matters-4') %></li>
        </ul>

        <h3><%= __('about.visionForTheFuture') %></h3>
        <p><%= __('about.vision-1') %></p>

        <p><%= __('about.vision-2') %></p>

        <p><%= __('about.vision-3') %></p>
    </main>

    <%- include('partials/footer') %>

    <script>
        console.log('Current language:', '<%= language %>');
    </script>
    <script src="/js/main.js"></script>
</body>
</html>